@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #eeeeee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#logo {
  font-size: 96px;
  color: #f54040;
  transform: rotate(45deg);
  text-shadow: 0 0 8px #ff6d6d;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 90%;
  margin: 30px auto;
}

.limpiar {
  position: relative;
  width: 100%;
}

.limpiar span {
  background-color: #fa2727;
  color: white;
  border-radius: 15px;
  font-size: 3rem;
  position: absolute;
  right: 0;
  transition: all 300ms;
  visibility: hidden;
  cursor: pointer;
}

textarea {
  width: 100%;
  flex-grow: 1;
  margin-bottom: 15px;
  height: 100%;
  resize: none;
  border: none;
  background: none;
  text-align: center;
  outline: none;
  font-size: 1.5rem;
  color: #555555
}

#error {
  font-size: 1rem;
  vertical-align: text-bottom;
}

#advertencia {
  text-align: center;
  font-size: 0.8rem;
}

#botones {
  display: grid;
  place-items: center;
  margin: 10px;
}

button {
  margin: 10px;
  width: 90%;
  padding: 1rem;
  border-radius: 15px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  transition: all 200ms;
}

#encriptar {
  background-color: #fa2727;
  color: white
}

#encriptar:hover {
  cursor: pointer;
  border: 1px solid #fa2727;
  font-weight: 600;
  box-shadow: 0 0 10px #fa2727;
}

#desencriptar,
#copiar {
  background-color: #eeeeee;
  border: 2px solid #fa2727
}

#desencriptar:hover,
#copiar:hover {
  font-weight: 600;
  box-shadow: 0 0 10px #fa2727;
  cursor: pointer;
}

#resultado {
  width: 90%;
  margin: 0 auto 20px;
  background-color: #eeeeee;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 20px #cccccc;
  padding: 1rem;
  font-size: 1.3rem;
  color: #555555
}

#resultado h3 {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

#copiar {
  display: none;
  margin: 20px auto 10px;
  transition: all 300ms;
}

.done {
  color: green;
  font-size: 3rem;
  font-weight: 900;
  transition: all 300ms;
  display: none;
}

@media screen and (min-width: 768px) {
  #logo {
    margin: 2rem;
  }

  #botones {
    display: flex;
    justify-content: center;
  }

  button {
    width: 40%;
  }
}

@media screen and (min-width: 1440px) {

  body {
    flex-direction: row;
  }

  main {
    flex-direction: row;
  }

  form {
    margin-top: 15vh;
  }

  button {
    width: 40%;
  }

  #resultado {
    font-size: 1rem;
    flex-basis: 40vw;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 94vh;
    overflow-y: auto;
  }
}